{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
  #map {
        height: 100%;
      }
</style>
<div class="container">
<div class="row" style="padding-top:5%">
<div class="col-md-6" style="width: 100%">


{% if val %}
    <form action="upload" enctype="multipart/form-data" method="post">

    {% csrf_token %}
		<div class="form-group">
			<input class="form-control-file" id="exampleFormControlFile1" name="image" type="file"/>
		</div>
		<div class="form-group">
			<a href="#"><button class="btn btn-primary" type="submit">submit</button></a>
		</div>
	</form>


{% endif %}
</div>


</div>


<p>{{ voice }}</p>


</div>


{% endblock %}